# WordPress GraphQL Endpoint (Must be publicly accessible for Vercel)
WORDPRESS_API_URL=https://your-wordpress-domain.com/graphql

# WordPress Base URL (Used for image assets / links)
WORDPRESS_BASE_URL=https://your-wordpress-domain.com

# Frontend Domain URL
NEXT_PUBLIC_FRONTEND_URL=https://pgpost-prime-nextjs.vercel.app
