# WordPress GraphQL Endpoint (Must be publicly accessible for Vercel)
WORDPRESS_API_URL=https://cms.pgspot.co.in/graphql

# WordPress Base URL (Used for image assets / links)
WORDPRESS_BASE_URL=https://cms.pgspot.co.in

# Frontend Domain URL
NEXT_PUBLIC_FRONTEND_URL=https://pgspot.co.in
